.cache
public
package-lock.json
yarn.lock
pnpm-lock.yaml
node_modules
dist
coverage
examples/next/.next
docs/src/pages/index.mdx

# Prettier doesn't know how to format MDX2 and makes silly mistakes.
*.mdx
